.hire_me_button {
  color: "white";
  display: inline-block;
  border-radius: 10px;
  background-color: #eeeeee;
  text-align: center;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
}
.hire_me_button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.hire_me_button span:after {
  content: "\25BC";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.hire_me_button:hover span {
  padding-right: 25px;
}
.hire_me_button:hover span:after {
  opacity: 1;
  right: 0;
}
.section_one_img_box {
  padding: 5px;
  border-radius: 10px;
  position: relative;
  overflow: clip;
  z-index: 20;
}
.section_one_img_box::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  height: 600px;
  width: 200px;
  background: #eeeeee;
  box-shadow: 0 0 10px white, 0 0 40px white, 0 0 80px white;
  animation: animate 10s linear infinite;
}
@keyframes animate {
  100% {
    transform: translate(-50%, -50%) rotate(225deg);
    /* this translate set the box at the senter while rotate using roate() */
  }
}
