.section_one_img_box {
  padding: 5px;
  border-radius: 10px;
  position: relative;
  overflow: clip;
  z-index: 20;
}
.section_one_img_box::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  height: 600px;
  width: 200px;
  background: #eeeeee;
  box-shadow: 0 0 10px white, 0 0 40px white, 0 0 80px white;
  animation: animate 10s linear infinite;
}
@keyframes animate {
  100% {
    transform: translate(-50%, -50%) rotate(225deg);
    /* this translate set the box at the senter while rotate using roate() */
  }
}
