@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap");
@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss";

* {
  font-family: "Josefin Sans", sans-serif;
}

img {
  max-width: none;
}

.img_about_me {
  --s: 300px; /* the size of the image */
  --b: 4px; /* the border thickness*/
  --g: 10px; /* the gap */
  --c: #3e5f44; /* the color */
  width: var(--s);
  aspect-ratio: 1;
  outline: calc(var(--s) / 2) solid #0009;
  outline-offset: calc(var(--s) / -2);
  cursor: pointer;
  transition: 0.3s;
  width: 300px;
  height: 400px;
}
.img_about_me:hover {
  outline: var(--b) solid var(--c);
  outline-offset: var(--g);
}

.img_about_me + .img_about_me {
  border-radius: 50%;
}

@keyframes bgmove {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}

@theme {
  --animate-bgmove: bgmove 40s infinite;
}
@keyframes animate {
  100% {
    transform: translate(-50%, -50%) rotate(225deg);
  }
}
