.all_navbar {
  display: flex;
  justify-content: space-between; /* pushes logo left and links right */
  align-items: center;
  background-color: lightblue;
  padding: 0 40px;
  border: 1px solid black;
  border-radius: 10px;
}
.link {
  font-size: 1.25rem;
  transition: color 0.9s ease;
  cursor: pointer;
  position: relative;
  margin-left: 20px;
}
.link:hover {
  color: lightcoral;
  transition: color 0.9s ease;
}
.link::after {
  content: "";
  position: absolute;
  height: 2px;
  left: 0;
  bottom: 0;
  width: 0;
  background: red;
  transition: width 0.9s;
}

.link:hover::after {
  width: 100%;
}

.hire_me_button {
  color: "white";
  display: inline-block;
  border-radius: 10px;
  background-color: #f4511e;
  text-align: center;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
}

.hire_me_button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.hire_me_button span:after {
  content: "\25BC";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.hire_me_button:hover span {
  padding-right: 25px;
}

.hire_me_button:hover span:after {
  opacity: 1;
  right: 0;
}
.hire_me_and_hamburger {
  display: flex;
  justify-content: space-between;
}
.when_burger_isOpen {
  left: 0;
  position: absolute;
  z-index: 10;
  height: 50%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.25rem;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(8px); /* For modern browsers */
}
.section_one_box {
}

.section_one_flex_box {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.section_one_img {
  width: 400px;
  height: 400px;
}

.section_one_img_box {
  /*   background-color: #2f2f2f; */
  padding: 5px;
  border-radius: 10px;
  position: relative;
  overflow: clip; /* hidden */
  z-index: 20;
}
.section_one_img {
  background-color: #111;
  border-radius: 10px;
  position: relative;
  z-index: 99;
}

/* box - after box - in */

.section_one_img_box::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  /* set the box 45deg */
  transform: translate(-50%, -50%) rotate(45deg);
  height: 600px;
  width: 200px;
  background: #f4511e;
  box-shadow: 0 0 10px white, 0 0 40px white, 0 0 80px white;
  animation: animate 3s linear infinite;
}

@keyframes animate {
  100% {
    transform: translate(-50%, -50%) rotate(225deg);
    /* this translate set the box at the senter while rotate using roate() */
  }
}
