@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom animation və theme burda */
@keyframes bgmove {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 100%;
  }
}

@theme {
  --animate-bgmove: bgmove 40s infinite;
}

img {
  max-width: none;
}
